<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Dashboard</title>
    <script src="https://cdn.tailwindcss.com"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body class="bg-gray-100 font-sans">
    <div class="flex min-h-screen">
      <%- include('../partials/admin-sidebar') %>

      <!-- Main Content -->
      <main class="flex w-full">
        <div class="flex flex-col flex-[1] p-6 bg-[#ECEEF6]">
          <!-- Header -->
          <div class="flex mb-5">
            <input
              type="text"
              placeholder="Search..."
              class="p-2 border rounded-lg w-72"
            />
          </div>
          <div class="flex justify-between items-center mb-6">
            <h2 class="text-2xl font-bold">Ongoing Collection</h2>
            <h2 class="text-2xl font-bold text-[#ACACAC]">Completed</h2>
          </div>

          <div class="flex flex-col">
            <!-- Details and Chart -->
            <div class="grid grid-cols-1 gap-4 mb-6">
              <!-- Request Info -->
              <div class="bg-white p-8 rounded-lg shadow-md col-span-2">
                <div class="flex justify-between mb-4">
                  <div>
                    <p>Request Number</p>
                    <p class="font-bold mb-3">EV-2017002344</p>
                    <p class="text-gray-400">Biodegradable material</p>
                  </div>
                  <div>
                    <img src="/images/Recycling_Truck.png" class="w-20" />
                  </div>
                </div>
                <hr />

                <ol
                  class="relative border-s border-[#E3E3E3] dark:border-[#E3E3E3] mt-6"
                >
                  <li class="mb-10 ms-6">
                    <span
                      class="absolute flex items-center justify-center w-6 h-6 rounded-full -start-3 ring-8 ring-white dark:ring-[#E8F9EE] dark:bg-blue-900"
                    >
                      <img src="/images/Ellipse45.png" />
                    </span>
                    <h3
                      class="flex items-center mb-1 text-lg font-semibold text-gray-900"
                    >
                      2972 Westheimer
                    </h3>

                    <p
                      class="mb-4 text-base font-normal text-gray-500 dark:text-gray-400"
                    >
                      Rd. Santa Ana. Illinois 85486
                    </p>
                  </li>
                  <li class="mb-10 ms-6">
                    <span
                      class="absolute flex items-center justify-center w-6 h-6 bg-blue-100 rounded-full -start-3 ring-8 ring-white dark:ring-[#E8F9EE] dark:bg-blue-900"
                    >
                      <img src="/images/location.png" />
                    </span>
                    <h3 class="mb-1 text-lg font-semibold text-gray-900">
                      8502 Preston
                    </h3>

                    <p
                      class="text-base font-normal text-gray-500 dark:text-gray-400"
                    >
                      Rd. Inglewood. Maine 98380
                    </p>
                  </li>
                </ol>

                <hr />

                <div class="flex justify-between my-4">
                  <div class="flex gap-2 items-center">
                    <img src="/images/Ellipse47.png" class="h-20 w-20" />
                    <div>
                      <p class="text-[#B0B0B0]">Client</p>
                      <p class="font-bold">Jenny Wilson</p>
                      <p class="">Food State, LTD</p>
                    </div>
                  </div>
                  <div class="flex gap-4 items-center">
                    <button class="bg-[#F7F5FF] p-3 rounded-xl">
                      <img src="/images/call.png" class="w-8 h-8" />
                    </button>
                    <button class="bg-[#F7F5FF] p-3 rounded-xl">
                      <img src="/images/message-text.png" class="w-8 h-8" />
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="flex flex-col flex-[2]">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m26!1m12!1m3!1d146814.12083336012!2d3.255283462330874!3d6.586371334957074!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m11!3e6!4m3!3m2!1d6.6743751!2d3.3175743!4m5!1s0x103b8c1a0034df05%3A0x24bef921f4afb7f6!2sIlorin%20Street%2C%20Lagos!3m2!1d6.4982482!2d3.3489755999999997!5e1!3m2!1sen!2sng!4v1742509754952!5m2!1sen!2sng"
            class="w-full h-full"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
          ></iframe>
        </div>
      </main>
    </div>
  </body>
</html>
